{ns hl7-fhir-au-base.associated-healthcareservice,
 import #{hl7-fhir-r4-core.HealthcareService zen.fhir},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Healthcare service",
         :zen.fhir/type "Reference",
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/associated-healthcareservice",
         :zen.fhir/version "0.6.25-1",
         :confirms #{zen.fhir/Reference},
         :zen.fhir/reference {:refers #{hl7-fhir-r4-core.HealthcareService/schema}}}}
