{ns hl7-fhir-au-base.au-australiancompanynumber,
 import #{hl7-fhir-au-base.value-set.au-v2-0203-extended
          zen.fhir
          hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-australiancompanynumber",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines an Australian Company Number in an Australian context. An ACN is allocated by the Australian Securities and Investments Commission (ASIC) when a body becomes registered as a company under Corporations Law.",
         :keys {:type {:zen.fhir/value-set {:symbol hl7-fhir-au-base.value-set.au-v2-0203-extended/value-set,
                                            :strength :extensible}},
                :system {:const {:value "http://hl7.org.au/id/acn"}},
                :value {:zen/desc "ACN"}},
         :zen.fhir/type "Identifier"}}
