{ns hl7-fhir-au-base.au-ahpraregistrationnumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-ahpraregistrationnumber",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines an Australian Health Practitioner Regulation Agency (Ahpra) registration number in an Australian context (see [Ahpra](https://www.ahpra.gov.au) for further information).",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "AHPRA"}}}},
                :system {:const {:value "http://hl7.org.au/id/ahpra-registration-number"}},
                :value {:zen/desc "Ahpra registration number"}},
         :zen.fhir/type "Identifier"}}
