{ns hl7-fhir-au-base.au-accessionnumber,
 import #{zen.fhir
          hl7-fhir-au-base.value-set.accession-number-type
          hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-accessionnumber",
         :require #{:assigner :system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines an accession number in an Australian context. Accession numbers are typically assigned by a diagnostic imaging system or clinical laboratory system and depending on the domain an accession number may for example identify a specimen, imaging examination, or biological polymer sequence.",
         :keys {:type {:zen.fhir/value-set {:symbol hl7-fhir-au-base.value-set.accession-number-type/value-set,
                                            :strength :required},
                       :zen/desc "Coded identifier type for accession number"},
                :system {:zen/desc "System identifier namespace for the organisation that assigned the accession number"},
                :value {:zen/desc "Accession number"},
                :assigner {:type zen/map,
                           :keys {:display {:zen/desc "Name of the assigning organisation"}},
                           :require #{:display},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}},
                           :zen/desc "Organisation that assigned the accession number"}},
         :zen.fhir/type "Identifier"}}
