{ns hl7-fhir-au-base.au-cspregistrationnumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.23",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-cspregistrationnumber",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a Contracted Service Provider (CSP) registration number in an Australian context (see [My Health Record](https://www.myhealthrecord.gov.au/for-healthcare-professionals/howtos/contracted-service-provider-registration) for further information). A CSP registration number may be issued to organisations who wish to participate in the My Health Record and/or the Healthcare Identifiers Service as a CSP.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "CSPRN"}}}},
                :system {:const {:value "http://ns.electronichealth.net.au/id/hi/csp/1.0"}},
                :value {:zen/desc "CSP registration number"}},
         :zen.fhir/type "Identifier"}}
