{ns hl7-fhir-au-base.au-careagencyemployeeidentifier,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.22-1",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-careagencyemployeeidentifier",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a care agency employee (CAE) identifier in an Australian context. A CAE identifier may be issued to an employee of, or person under contracted arrangement with, a care agency who wishes to participate in the My Health Record.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "CAEI"}}}},
                :system {:const {:value "http://ns.electronichealth.net.au/id/pcehr/caei/1.0"}},
                :value {:zen/desc "CAE identifier"}},
         :zen.fhir/type "Identifier"}}
