{ns hl7-fhir-au-base.au-diagnosticrequest,
 import #{zen.fhir
          hl7-fhir-r4-core.procedure-targetBodyStructure
          hl7-fhir-r4-core.RelatedPerson
          hl7-fhir-r4-core.Patient
          hl7-fhir-r4-core.PractitionerRole
          hl7-fhir-au-base.au-localorderidentifier
          hl7-fhir-au-base.au-specimen
          hl7-fhir-r4-core.ServiceRequest
          hl7-fhir-r4-core.Practitioner
          hl7-fhir-r4-core.Identifier
          hl7-fhir-r4-core.Organization},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "This profile defines a service request structure to represent a request for a diagnostic investigation in an Australian context. This profile is intended to support ordering for pathology, radiology, and specialist diagnostic investigations.",
         :zen.fhir/type "ServiceRequest",
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-diagnosticrequest",
         :zen.fhir/version "0.6.24",
         :confirms #{hl7-fhir-r4-core.ServiceRequest/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:targetBodyStructure {:confirms #{hl7-fhir-r4-core.procedure-targetBodyStructure/schema},
                                      :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/procedure-targetBodyStructure"},
                :identifier {:type zen/vector,
                             :every {:zen/desc "Identifiers assigned to this order",
                                     :type zen/case,
                                     :case [{:when {:confirms #{hl7-fhir-r4-core.Identifier/schema}},
                                             :then {}}
                                            {:when {:confirms #{hl7-fhir-au-base.au-localorderidentifier/schema}},
                                             :then {}}]}},
                :requester {:confirms #{zen.fhir/Reference},
                            :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema
                                                           hl7-fhir-r4-core.PractitionerRole/schema
                                                           hl7-fhir-r4-core.Organization/schema
                                                           hl7-fhir-r4-core.Practitioner/schema
                                                           hl7-fhir-r4-core.RelatedPerson/schema}},
                            :zen/desc "Authorising individual, organisation or program (e.g. National Bowel Cancer Screening Program)"},
                :specimen {:type zen/vector,
                           :every {:confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{hl7-fhir-au-base.au-specimen/schema}}}}}}}
