{ns hl7-fhir-au-base.au-diagnosticresult,
 import #{hl7-fhir-r4-core.Observation
          zen.fhir
          hl7-fhir-r4-core.Patient
          hl7-fhir-r4-core.bodySite
          hl7-fhir-au-base.au-diagnosticresult
          hl7-fhir-au-base.au-imagingresult
          hl7-fhir-au-base.au-pathologyresult
          hl7-fhir-r4-core.value-set.diagnostic-service-sections},
 schema {:zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-diagnosticresult",
         :require #{:category :effective :subject},
         :type zen/map,
         :zen/desc "This profile defines an observation structure to represent a diagnostic investigation result issued by a diagnostic service provider in an Australian context. This profile may be used to represent a specialist or other diagnostic (not imaging or pathology) observation including results of audiology studies, sleep studies or speech pathology. The observation may represent the result of a simple investigation or it may group the set of results of a multi-modality procedure or multi-test study / panel.",
         :keys {:bodySite {:confirms #{hl7-fhir-r4-core.bodySite/schema}},
                :category {:type zen/vector,
                           :every {:zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.diagnostic-service-sections/value-set,
                                                        :strength :preferred},
                                   :zen/desc "Diagnostic service section"},
                           :minItems 1},
                :code {:zen/desc "Diagnostic procedure"},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema}}},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :exclusive-keys #{#{:dateTime :Period}}},
                :hasMember {:type zen/vector,
                            :every {:confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-au-base.au-imagingresult/schema
                                                                   hl7-fhir-au-base.au-pathologyresult/schema
                                                                   hl7-fhir-au-base.au-diagnosticresult/schema}},
                                    :zen/desc "Individual examinations in a group or study series"}}},
         :zen.fhir/type "Observation"}}
