{ns hl7-fhir-au-base.au-etpprescriptionidentifier,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.31",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-etpprescriptionidentifier",
         :require #{:assigner :system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines an Electronic Transfer of Prescription (ETP) prescription identifier in an Australian context. An ETP prescription identifier is assigned to a prescription by an ETP vendor, e.g. ERx or Medisecure, and is the assigned numeric value of the barcode on a prescription instance.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "ETP"}}},
                       :zen/desc "Coded identifier type for ETP prescription identifier"},
                :system {:zen/desc "System identifier namespace for the ETP vendor that assigned the identifier"},
                :value {:zen/desc "ETP prescription identifier"},
                :assigner {:type zen/map,
                           :keys {:display {:zen/desc "ETP vendor's name"}},
                           :require #{:display},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}},
                           :zen/desc "ETP vendor"}},
         :zen.fhir/type "Identifier"}}
