{ns hl7-fhir-au-base.au-employeenumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.22",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-employeenumber",
         :require #{:assigner :system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines an employee number (sometimes referred to as an employee identifier (EI)) in an Australian context. An employee number is an organisation's identifier for an individual employed by that organisation.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v2-0203",
                                          :code "EI"}}}},
                :system {:zen/desc "System identifier namespace for the employing organisation"},
                :value {:zen/desc "Employee number"},
                :assigner {:type zen/map,
                           :keys {:display {:zen/desc "Employing organisation's name"}},
                           :require #{:display},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}},
                           :zen/desc "Employing organisation"}},
         :zen.fhir/type "Identifier"}}
