{ns hl7-fhir-au-base.au-healthprogramparticipation,
 import #{hl7-fhir-r4-core.Observation
          zen.fhir
          hl7-fhir-r4-core.Patient},
 schema {:zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-healthprogramparticipation",
         :require #{:category :component :effective :subject},
         :type zen/map,
         :zen/desc "This profile defines an observation information structure for a summary of an individual's participation in a health program, e.g. weight management, disease screening, or substance use therapy. Participation information may include information on an individual's eligibility for a program, suspension of participation in a program, or status of participation in a program.",
         :keys {:status {:const {:value "final"}},
                :category {:type zen/vector,
                           :slicing {:slices {"hPCat" {:schema {:type zen/vector,
                                                                :minItems 1,
                                                                :maxItems 1},
                                                       :filter {:engine :match,
                                                                :match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/observation-category",
                                                                                   :code "program"}}}}}}},
                           :minItems 1},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema}}},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :zen/desc "Date, and optionally time, this information is asserted as 'true'"},
                :component {:type zen/vector,
                            :slicing {:slices {"nextAction" {:schema {:type zen/vector,
                                                                      :maxItems 1,
                                                                      :every {:type zen/map,
                                                                              :keys {:code {:match {:coding #{{:system "http://snomed.info/sct",
                                                                                                               :code "1604021000168101"}}}},
                                                                                     :value {:fhir/polymorphic true,
                                                                                             :type zen/map}}}},
                                                             :filter {:engine :match,
                                                                      :match {:code {:coding #{{:system "http://snomed.info/sct",
                                                                                                :code "1604021000168101"}}}}}},
                                               "notParticipantStatusReason" {:schema {:type zen/vector,
                                                                                      :every {:type zen/map,
                                                                                              :keys {:code {:match {:coding #{{:system "http://snomed.info/sct",
                                                                                                                               :code "1603991000168102"}}}},
                                                                                                     :value {:fhir/polymorphic true,
                                                                                                             :type zen/map}}}},
                                                                             :filter {:engine :match,
                                                                                      :match {:code {:coding #{{:system "http://snomed.info/sct",
                                                                                                                :code "1603991000168102"}}}}}},
                                               "lastActionDate" {:schema {:type zen/vector,
                                                                          :maxItems 1,
                                                                          :every {:type zen/map,
                                                                                  :keys {:code {:match {:coding #{{:system "http://snomed.info/sct",
                                                                                                                   :code "1604011000168108"}}}},
                                                                                         :value {:fhir/polymorphic true,
                                                                                                 :type zen/map,
                                                                                                 :exclusive-keys #{#{:dateTime
                                                                                                                     :Period}}}}}},
                                                                 :filter {:engine :match,
                                                                          :match {:code {:coding #{{:system "http://snomed.info/sct",
                                                                                                    :code "1604011000168108"}}}}}},
                                               "participationStatusPeriod" {:schema {:type zen/vector,
                                                                                     :maxItems 1,
                                                                                     :every {:type zen/map,
                                                                                             :keys {:code {:match {:coding #{{:system "http://snomed.info/sct",
                                                                                                                              :code "1603791000168104"}}}},
                                                                                                    :value {:fhir/polymorphic true,
                                                                                                            :type zen/map,
                                                                                                            :exclusive-keys #{#{:dateTime
                                                                                                                                :Period}}}}}},
                                                                            :filter {:engine :match,
                                                                                     :match {:code {:coding #{{:system "http://snomed.info/sct",
                                                                                                               :code "1603791000168104"}}}}}},
                                               "lastAction" {:schema {:type zen/vector,
                                                                      :maxItems 1,
                                                                      :every {:type zen/map,
                                                                              :keys {:code {:match {:coding #{{:system "http://snomed.info/sct",
                                                                                                               :code "1604001000168105"}}}},
                                                                                     :value {:fhir/polymorphic true,
                                                                                             :type zen/map}}}},
                                                             :filter {:engine :match,
                                                                      :match {:code {:coding #{{:system "http://snomed.info/sct",
                                                                                                :code "1604001000168105"}}}}}},
                                               "forecastStatusPeriod" {:schema {:type zen/vector,
                                                                                :maxItems 1,
                                                                                :every {:type zen/map,
                                                                                        :keys {:code {:match {:coding #{{:system "http://snomed.info/sct",
                                                                                                                         :code "1604051000168109"}}}},
                                                                                               :value {:fhir/polymorphic true,
                                                                                                       :type zen/map,
                                                                                                       :exclusive-keys #{#{:dateTime
                                                                                                                           :Period}}}}}},
                                                                       :filter {:engine :match,
                                                                                :match {:code {:coding #{{:system "http://snomed.info/sct",
                                                                                                          :code "1604051000168109"}}}}}},
                                               "participationStatus" {:schema {:type zen/vector,
                                                                               :minItems 1,
                                                                               :maxItems 1,
                                                                               :every {:type zen/map,
                                                                                       :keys {:code {:match {:coding #{{:system "http://snomed.info/sct",
                                                                                                                        :code "1603781000168102"}}}},
                                                                                              :value {:fhir/polymorphic true,
                                                                                                      :type zen/map}}}},
                                                                      :filter {:engine :match,
                                                                               :match {:code {:coding #{{:system "http://snomed.info/sct",
                                                                                                         :code "1603781000168102"}}}}}},
                                               "forecastStatus" {:schema {:type zen/vector,
                                                                          :maxItems 1,
                                                                          :every {:type zen/map,
                                                                                  :keys {:code {:match {:coding #{{:system "http://snomed.info/sct",
                                                                                                                   :code "1604041000168107"}}}},
                                                                                         :value {:fhir/polymorphic true,
                                                                                                 :type zen/map}}}},
                                                                 :filter {:engine :match,
                                                                          :match {:code {:coding #{{:system "http://snomed.info/sct",
                                                                                                    :code "1604041000168107"}}}}}},
                                               "nextActionDate" {:schema {:type zen/vector,
                                                                          :maxItems 1,
                                                                          :every {:type zen/map,
                                                                                  :keys {:code {:match {:coding #{{:system "http://snomed.info/sct",
                                                                                                                   :code "1604031000168103"}}}},
                                                                                         :value {:fhir/polymorphic true,
                                                                                                 :type zen/map,
                                                                                                 :exclusive-keys #{#{:dateTime
                                                                                                                     :Period}}}}}},
                                                                 :filter {:engine :match,
                                                                          :match {:code {:coding #{{:system "http://snomed.info/sct",
                                                                                                    :code "1604031000168103"}}}}}}}},
                            :minItems 1}},
         :zen.fhir/type "Observation"}}
