{ns hl7-fhir-au-base.au-insurancemembernumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-insurancemembernumber",
         :require #{:assigner :system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines an insurance member number in an Australian context. An insurance member number is the unique member number assigned to an individual by an insurer and is typically displayed on their insurance card. An individual will not have more than one member number per insurer.\n\nThis definition supports the sending of an insurance member number that is relevant in a healthcare context and may be used to capture Australian and International health insurer issued member numbers. In Australia this will typically be a private health insurance member number. This identifier should not be confused with an insurance policy number.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v2-0203",
                                          :code "MB"}}}},
                :system {:zen/desc "System identifier namespace for the insurer that assigned the insurance member number"},
                :value {:zen/desc "Insurance member number"},
                :assigner {:type zen/map,
                           :keys {:display {:zen/desc "Name of insurer"}},
                           :require #{:display},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}},
                           :zen/desc "Insurer"}},
         :zen.fhir/type "Identifier"}}
