{ns hl7-fhir-au-base.au-imagingresult,
 import #{hl7-fhir-r4-core.Observation
          zen.fhir
          hl7-fhir-r4-core.Patient
          hl7-fhir-au-base.au-diagnosticresult
          hl7-fhir-au-base.au-imagingresult},
 referenceRange-schema {:zen/tags #{zen/schema
                                    zen.fhir/structure-schema},
                        :zen.fhir/version "0.6.22-2"},
 schema {:zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-imagingresult",
         :require #{:category :effective :subject},
         :type zen/map,
         :zen/desc "This profile defines an observation structure to represent a imaging examination result issued by a diagnostic service provider in an Australian context. The observation may represent the result of a simple test such as haemoglobin or it may group the set of results produced by a multi-test study or panel such as a full blood count, or urine specimen study.",
         :keys {:category {:type zen/vector,
                           :slicing {:slices {"diagImg" {:schema {:type zen/vector,
                                                                  :minItems 1,
                                                                  :maxItems 1,
                                                                  :every {:type zen/map,
                                                                          :keys {:coding {:type zen/vector,
                                                                                          :every {:type zen/map,
                                                                                                  :keys {:system {:const {:value "http://terminology.hl7.org/CodeSystem/observation-category"}},
                                                                                                         :code {:const {:value "imaging"}}},
                                                                                                  :require #{:system
                                                                                                             :code}},
                                                                                          :minItems 1}},
                                                                          :require #{:coding}}},
                                                         :filter {:engine :match,
                                                                  :match {:coding {:system "http://terminology.hl7.org/CodeSystem/observation-category",
                                                                                   :code "imaging"}}}},
                                              "anatomicRegionOfInterest" {:schema {:type zen/vector,
                                                                                   :every {:type zen/map,
                                                                                           :keys {:coding {:type zen/vector,
                                                                                                           :every {:type zen/map,
                                                                                                                   :keys {:system {:const {:value "http://snomed.info/sct"}}},
                                                                                                                   :require #{:system}}}}}},
                                                                          :filter {:engine :match,
                                                                                   :match {:coding {:system "http://snomed.info/sct"}}}}}},
                           :every {:zen/desc "Relevant diagnostic imaging category: service, modality and anatomic region"},
                           :minItems 1},
                :code {:zen/desc "Diagnostic imaging examination or study"},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema}}},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :exclusive-keys #{#{:dateTime :Period}},
                            :zen/desc "Time of diagnostic imaging examination"},
                :hasMember {:type zen/vector,
                            :every {:confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-au-base.au-imagingresult/schema
                                                                   hl7-fhir-au-base.au-diagnosticresult/schema}},
                                    :zen/desc "Individual examinations in a group or study series"}},
                :component {:type zen/vector,
                            :every {:type zen/map,
                                    :keys {:code {:zen/desc "Diagnostic imaging examination or study"}},
                                    :zen/desc "Individual examinations in a group or study series"}},
                :referenceRange {:confirms #{hl7-fhir-au-base.au-imagingresult/referenceRange-schema}}},
         :zen.fhir/type "Observation"}}
