{ns hl7-fhir-au-base.au-localreportidentifier,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.23-1",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-localreportidentifier",
         :require #{:assigner :system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a local report identifier in an Australian context. A local report identifier is an organisation's identifier for a report in that organisation's local system set of reports. A report identifier must uniquely identify the report from all other reports in a particular system (e.g. diagnostic imaging system, clinical laboratory system, document management system, referral systems). In some laboratory systems, the report identifier may be a concatenation of a lab number and report panel code (e.g. 19P123456-FBC), where the panel code makes the identifier unique from other reports under the same lab number.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "LRI"}}},
                       :zen/desc "Coded identifier type for local report identifier"},
                :system {:zen/desc "System identifier namespace for the organisation that assigned the report identifier"},
                :value {:zen/desc "Report identifier"},
                :assigner {:type zen/map,
                           :keys {:display {:zen/desc "Name of the assigning organisation"}},
                           :require #{:display},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}},
                           :zen/desc "Organisation that assigned the report identifier"}},
         :zen.fhir/type "Identifier"}}
