{ns hl7-fhir-au-base.au-localdispenseidentifier,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.30-13",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-localdispenseidentifier",
         :require #{:assigner :system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a local dispense identifier in an Australian context. A local dispense identifier is an organisation's identifier for a dispense record in that organisation's local system set of dispense records. A dispense record identifier is typically assigned by the dispensing system and allows linking of a dispensing record to the dispensing system's local identifier.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "LDI"}}},
                       :zen/desc "Coded identifier type for local dispense identifier"},
                :system {:zen/desc "System identifier namespace for the organisation that assigned the dispense identifier"},
                :value {:zen/desc "Dispense identifier"},
                :assigner {:type zen/map,
                           :keys {:display {:zen/desc "Name of the assigning organisation"}},
                           :require #{:display},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}},
                           :zen/desc "Organisation that assigned the dispense identifier"}},
         :zen.fhir/type "Identifier"}}
