{ns hl7-fhir-au-base.au-medicareprovidernumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-medicareprovidernumber",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a Medicare provider number assigned by Services Australia to practitioners who provide services covered by the Medicare Benefits Schedule (MBS) at a specific location. A practitioner may have more than one Medicare provider number if they deliver health services in different locations or are registered in multiple health professions.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "UPIN"}}}},
                :system {:const {:value "http://ns.electronichealth.net.au/id/medicare-provider-number"}},
                :value {:zen/desc "Medicare provider number"}},
         :zen.fhir/type "Identifier"}}
