{ns hl7-fhir-au-base.au-medicalrecordnumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.30-13",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-medicalrecordnumber",
         :require #{:assigner :system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a  (MRN) (sometimes referred to as unit record number (URN) or (UR)) in an Australian context. An MRN is an institution's identifier for a patient's record at that institution. A patient may have more than one MRN for a single institution due to organisational restructures.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v2-0203",
                                          :code "MR"}}}},
                :system {:zen/desc "System identifier namespace for the institution that assigned the MRN"},
                :value {:zen/desc "MRN"},
                :assigner {:type zen/map,
                           :keys {:display {:zen/desc "Name of the assigning institution"}},
                           :require #{:display},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}},
                           :zen/desc "Institution that assigned the MRN"}},
         :zen.fhir/type "Identifier"}}
