{ns hl7-fhir-au-base.au-medicarecardnumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.24",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-medicarecardnumber",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a Medicare card number in an Australian context. A Medicare card is provided to individuals who are enrolled in [Medicare](https://www.servicesaustralia.gov.au/individuals/medicare). This definition supports sending either the 10 digit Medicare card number or the 11 digit number (includes the individual reference number (IRN)).",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v2-0203",
                                          :code "MC"}}}},
                :system {:const {:value "http://ns.electronichealth.net.au/id/medicare-number"}},
                :value {:zen/desc "Medicare card number"},
                :period {:type zen/map,
                         :keys {:end {:zen/desc "Medicare card expiry date"}}}},
         :zen.fhir/type "Identifier"}}
