{ns hl7-fhir-au-base.au-nataaccreditationnumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-nataaccreditationnumber",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a National Association of Testing Authorities (NATA) accreditation number in an Australian context (see [NATA](https://www.nata.com.au/) for further information).",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "NATAA"}}}},
                :system {:const {:value "http://hl7.org.au/id/nata-accreditation"}},
                :value {:zen/desc "NATA accreditation number"}},
         :zen.fhir/type "Identifier"}}
