{ns hl7-fhir-au-base.au-paioidentifier,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-paioidentifier",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a My Health Record Assigned Identity - Organisation (PAI-O) identifier in an Australian context. A PAI-O may be issued to organisations who wish to participate in the My Health Record and who are not eligible for a Healthcare Provider Identifier - Organisation (HPI-O).",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "NOI"}}},
                       :zen/desc "Coded identifier type for PAI-O"},
                :system {:const {:value "http://ns.electronichealth.net.au/id/pcehr/paio/1.0"}},
                :value {:zen/desc "PAI-O"}},
         :zen.fhir/type "Identifier"}}
