{ns hl7-fhir-au-base.au-paididentifier,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.24",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-paididentifier",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a My Health Record Assigned Identity - Device (PAI-D) identifier in an Australian context. A PAI-D is typically used to identify a device that plays a role, for example an authoring or observing, in the exchange of digital health data with the My Health Record system.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "NDI"}}},
                       :zen/desc "Coded identifier type for PAI-D"},
                :system {:const {:value "http://ns.electronichealth.net.au/id/pcehr/paid/1.0"}},
                :value {:zen/desc "PAI-D"}},
         :zen.fhir/type "Identifier"}}
