{ns hl7-fhir-au-base.au-pharmacyapprovalnumber,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-pharmacyapprovalnumber",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a pharmacy approval number in an Australian context (see [Department of Health and Aged Care](https://www1.health.gov.au/internet/main/publishing.nsf/Content/pharmaceutical-benefits-scheme-approved-supplier-administrative-functions) for further information). A pharmacy approval number, also known as a PBS approval number, is assigned by the Department of Health to pharmacies that are approved to supply pharmaceutical benefits at particular premises under the National Health Act 1953.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "PAN"}}}},
                :system {:const {:value "http://ns.electronichealth.net.au/id/pharmacy-approval-number"}},
                :value {:zen/desc "Pharmacy approval number"}},
         :zen.fhir/type "Identifier"}}
