{ns hl7-fhir-au-base.au-residentialagedcareserviceidentifier,
 import #{zen.fhir hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/au-residentialagedcareserviceidentifier",
         :require #{:system :value :type},
         :type zen/map,
         :zen/desc "This identifier profile defines a residential aged care service identifier (RACS ID) in an Australian context.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org.au/CodeSystem/v2-0203",
                                          :code "RACSI"}}}},
                :system {:const {:value "http://ns.electronichealth.net.au/id/residential-aged-care-service-id"}},
                :value {:zen/desc "RACS ID"}},
         :zen.fhir/type "Identifier"}}
