{ns hl7-fhir-au-base.dispense-number,
 import #{hl7-fhir-r4-core.integer zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Dispense number",
         :zen.fhir/type "integer",
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/dispense-number",
         :zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r4-core.integer/schema}}}
