{ns hl7-fhir-au-base.ihi-verified-date,
 import #{zen.fhir hl7-fhir-r4-core.dateTime},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "IHI Verification Date",
         :zen.fhir/type "dateTime",
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/ihi-verified-date",
         :zen.fhir/version "0.6.25-1",
         :confirms #{hl7-fhir-r4-core.dateTime/schema}}}
