{ns hl7-fhir-au-base.indigenous-status,
 import #{zen.fhir hl7-fhir-r4-core.Coding},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Indigenous status",
         :zen.fhir/type "Coding",
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/indigenous-status",
         :zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.Coding/schema}}}
