{ns hl7-fhir-au-base.no-fixed-address,
 import #{zen.fhir hl7-fhir-r4-core.boolean},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Indicator of no fixed address",
         :zen.fhir/type "boolean",
         :zen.fhir/profileUri "http://hl7.org.au/fhir/StructureDefinition/no-fixed-address",
         :zen.fhir/version "0.6.29-22",
         :confirms #{hl7-fhir-r4-core.boolean/schema},
         :const {:value true}}}
