{ns hl7-fhir-au-base.value-set.contact-purpose,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The purpose for which an associated contact can be reached.",
            :zen.fhir/version "0.6.30-13",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/contactentity-type",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://terminology.hl7.org.au/CodeSystem/contact-purpose",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org.au/ValueSet/contact-purpose",
            :version "4.1.0",
            :ftr {:module "hl7-fhir-au-base",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
